.container {
  background-color: #e0e8f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.flight-box {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.flight-info {
  padding: 10px;
}

.flight-detail {
  margin-bottom: 0.5rem;
}


.detail-header {
  font-weight: 650;
  color: #002c5b;

}

.flight-price {
  font-weight: bold;
  color: #050038;
}