body {
  background-color: #ffffff !important; 
  font-family: Arial, sans-serif; 
  margin: 0; 
}

.container {
  background-color: #e0e8f0; 
  border-radius: 8px; 
  padding: 20px; 
  width: 500px; 
  margin: 40px auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px; 
}

input,
select {
  margin-bottom: 15px; 
  padding: 8px; 
}

button {
  background-color: #007bff; 
  color: #ffffff; 
  padding: 10px; 
  border: none;
  cursor: pointer; 
}

button:hover {
  background-color: #0056b3; 
}


